* { 
    font-size: 6pt;
}

.center {
    text-align: center;
    margin: auto;
}

.override_table {
    table-layout: fixed;
}

.trips_stats_table {
  margin: 4px;
}

.trips_stats_table th, td {
  width: 16.7%;
}

.trips_stats_table td {
  background-color: #F8F8F8;
}


/* remove the bullet points from the list */
ul {
    list-style: none;
}
li {
    width: 60px;
    text-align: center;
}

.list-group-item.active {
    background-color: #3A6E8A;
    color: white;
    border-color: #3A6E8A;
}

.list-group-item.active a {
    background-color: #3A6E8A;
    color: white;
    border-color: #3A6E8A;
}

.list-group-item {
    background-color: #D9D9D9;
    color: #666666;
    border-color: #D9D9D9;
}

.list-group-item a {
    background-color: #D9D9D9;
    color: #666666;
    border-color: #D9D9D9;
}

.input_form {
    width: 330px;
    margin: auto;
}


.row {
    flex-wrap: nowrap;
}



/** Conditional formatting for the History Tables **/
.fast {
    background-color: #98f797;
  }

  .medium {
    background-color: #f9dfd5;
  }

  .slow {
    background-color: #eea081;
  }

  .rate_1 {
    background-color: #ffffff;
  }
  .rate_2 {
    background-color: #ede8d9;
  }
  .rate_3 {
    background-color: #dad2bd;
  }
  .rate_4 {
    background-color: #c2ae82;
  }
  .rate_5 {
    background-color: #a69266;
  }



/** Charts CSS **/

  .chart {
    width: 300px;
    margin: 10px;
    background-color: #fff;
    /*border-radius: 5px;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
  }

  .bar-container {
    display: flex;
    align-items: center;
    padding: 1px;
  }

  .bar {
    height: 20px;
    /**background-color: #3498db;**/
    border-radius: 5px;
    position: relative;
  }

  .bar::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
  }

  .value {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
  }

  .small-label {
    text-align: centre;
    font-size: 10px;
    color: #333;
    margin-right: 10px;
    min-width: 20px;
  }
  .big-label {
    text-align: left;
    font-size: 10px;
    color: #333;
    margin-right: 10px;
    min-width: 100px;
  }

  /** Colours of the bars, based on highest, medium or low **/
  .bar_High {
    background-color: darkblue;
  }

  .bar_Med {
    background-color: #3498db;
  }

  .bar_Low {
    background-color: lightblue;
  }