<div class="d-flex justify-content-center base_buttons base_buttons">
    <ul class="list-group d-flex flex-row">
        <li class="list-group-item m-2 {% if 'stats' in request.endpoint %}active{% endif %}"><a href="{{ url_for('trips_stats') }}">Stats</a></li>
        <li class="list-group-item m-2 {% if 'new' in request.endpoint %}active{% endif %}"><a href="{{ url_for('trips_new') }}">New</a></li>
        <li class="list-group-item m-2 {% if 'history' in request.endpoint %}active{% endif %}"><a href="{{ url_for('trips_history') }}">History</a></li>
        <li class="list-group-item m-2 {% if 'maps' in request.endpoint %}active{% endif %}"><a href="{{ url_for('trips_maps') }}">Maps</a></li>

    </ul>
</div>

