<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Inside your HTML template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='my_override_style.css') }}">  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='functions.js') }}"></script>

    <title>{% block title %}My App{% endblock %}</title>

</head>
<body>
    <div class="d-flex justify-content-center">
        <nav>
        <ul class="list-group d-flex flex-row">
            <li class="m-2 list-group-item {% if request.endpoint == 'index' %}active{% endif %}"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="m-2 list-group-item {% if 'runs' in request.endpoint %}active{% endif %}"><a href="{{ url_for('runs_stats') }}">Runs</a></li>
            <li class="m-2 list-group-item {% if 'reads' in request.endpoint %}active{% endif %}"><a href="{{ url_for('reads_stats') }}">Reads</a></li>
            <li class="m-2 list-group-item {% if 'trips' in request.endpoint %}active{% endif %}"><a href="{{ url_for('trips_stats') }}">Trips</a></li>
            <!--<li class="m-2 list-group-item {% if 'thoughts' in request.endpoint %}active{% endif %}"><a href="{{ url_for('thoughts_stats') }}">Thoughts</a></li>-->
            <li class="m-2 list-group-item {% if 'words' in request.endpoint %}active{% endif %}"><a href="{{ url_for('words_stats') }}">Words</a></li>
        </ul>
        </nav>
    </div>
    

    <div>
        {% block content %}{% endblock %}
    </div>
    <br/>
    <br/>
    <br/>
    <a class="center" href="{{ url_for('logout') }}">Sign out</a>
    <br/>
    <br/>
    <br/>
</body>
</html>
