<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Reads - Stats - My App{% endblock %}


{% block content %}

{% include 'base_reads.html' %}

    
        <h1>Reads History</h1>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                {% for read in reads %}
                    <tr>
                        <td>{{ read.date_ended }}</td>
                        <td>{{ read.title }}</td>
                        <td>{{ read.author }}</td>
                        <td>{{ read.country }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

