
{% extends 'base.html' %}

{% block title %}Reads - New - My App{% endblock %}

{% block content %}
{% include 'base_reads.html' %}


    <br/>
    <br/>
    <form class="input_form" method="post" action="#">
        <div class="row mb-3">
            <label for="date_started" class="col-sm-2 col-form-label">Date started:</label>
            <div class="col-sm-10">
                <input type="text" id="date_started" class="form-control" name="date_started" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="date_ended" class="col-sm-2 col-form-label">Date Ended:</label>
            <div class="col-sm-10">
                <input type="text" id="date_ended" name="date_ended" required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="title" class="col-sm-2 col-form-label">Title:</label>
            <div class="col-sm-10">
                <input type="text" id="title" name="title"  required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="author" class="col-sm-2 col-form-label">Author:</label>
            <div class="col-sm-10">
                <input type="text" id="author" name="author" required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="pages" class="col-sm-2 col-form-label">Pages:</label>
            <div class="col-sm-10">
                <input type="text" id="pages" name="pages"  required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="category" class="col-sm-2 col-form-label">Category:</label>
            <div class="col-sm-10">
                <input type="text" id="category" name="category"  required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="subcategory" class="col-sm-2 col-form-label">Sub Category:</label>
            <div class="col-sm-10">
                <input type="text" id="subcategory" name="subcategory" required class="form-control">
            </div>
        </div>
    
        <div class="row mb-3">
            <label for="country" class="col-sm-2 col-form-label">Country:</label>
            <div class="col-sm-10">
                <input type="text" id="country" name="country" required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="my_rating" class="col-sm-2 col-form-label">Rating:</label>
            <div class="col-sm-10">
                <input type="text" id="my_rating" name="my_rating" required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="publication_year" class="col-sm-2 col-form-label">Publication Year:</label>
            <div class="col-sm-10">
                <input type="text" id="publication_year" name="publication_year" required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>

    
    {% endblock %}