<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Reads - History - My App{% endblock %}


{% block content %}

{% include 'base_reads.html' %}

<!--- SEARCH (start) -->
<script>
    $(document).ready(function(){
      $("#tbl_srch_input").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#reads_history_table tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
<!--- SEARCH (end) -->

<input class="form-control srchbox center" id="tbl_srch_input" type="text" placeholder="Search..">
    
        <h1>Reads History</h1>
        <table id="reads_history_table" class="table override_table">
            <thead>
                <tr>
                    <th class="w-15">Date</th>
                    <th class="w-30">Title</th>
                    <th class="w-20">Author</th>
                    <th class="w-10">Country</th>
                    <th class="w-10">Pages</th>
                    <th class="w-15">Published</th>
                    <th class="w-10">Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for read in reads %}
                    <tr>
                        <td>{{ read.date_ended }}</td>
                        <td>{{ read.title }}</td>
                        <td>{{ read.author }}</td>
                        <td>{{ read.country }}</td>
                        <td>{{ read.pages }}</td>
                        <td>{{ read.publication_year }}</td>
                        <td class="center {% if read.my_rating == 1 %}rate_1{% elif read.my_rating == 2 %}rate_2{% elif read.my_rating == 3 %}rate_3{% elif read.my_rating == 4 %}rate_4{% elif read.my_rating == 5 %}rate_5{% endif %}">{{ read.my_rating }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

