
{% extends 'base.html' %}

{% block distance %}Runs - New - My App{% endblock %}

{% block content %}
{% include 'base_runs.html' %}


    <br/>
    <br/>
    <form class="input_form" method="post" action="#">
        <div class="row mb-3">
            <label for="date" class="col-sm-2 col-form-label">Date:</label>
            <div class="col-sm-10">
                <input type="text" id="date" class="form-control" name="date" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="time" class="col-sm-2 col-form-label">Time:</label>
            <div class="col-sm-10">
                <input type="text" id="time" name="time" required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="distance" class="col-sm-2 col-form-label">distance:</label>
            <div class="col-sm-10">
                <input type="text" id="distance" name="distance" required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="location" class="col-sm-2 col-form-label">location:</label>
            <div class="col-sm-10">
                <input type="text" id="location" name="location" required class="form-control">
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>

    
    {% endblock %}