<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Runs - History - My App{% endblock %}

{% block content %}
{% include 'base_runs.html' %}
<br/><br/>
    <h6 class="center">Distance by Year</h6>
    <br/>
    <div class="chart center">
        {% for year_values in total_distance_per_year_data %}
            <div class="bar-container">
                <div class="small-label">{{year_values[0]}}</div>
                <div class="bar {{year_values[3]}}" style="width: {{year_values[2]}}%">
                    <div class="value">{{year_values[1]}}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br/><br/>
    <h6 class="center">Runs by Year</h6>
    <br/>
    <div class="chart center">
        {% for year_runs in years_of_runs %}
            <div class="bar-container">
                <div class="small-label">{{year_runs[0]}}</div>
                <div class="bar {{year_runs[3]}}" style="width: {{year_runs[2]}}%">
                    <div class="value">{{year_runs[1]}}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br/><br/>
    <h6 class="center">Average times by Year</h6>
    <br/>
    <div class="chart center">
        {% for year_ave in ave_times_per_year %}
            <div class="bar-container">
                <div class="small-label">{{year_ave[0]}}</div>
                <div class="bar {{year_ave[3]}}" style="width: {{year_ave[2]}}%">
                    <div class="value">{{year_ave[1]}}</div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <br/><br/>
    <h6 class="center">Fastest 5ks</h6>
    <br/>
        <table class="table override_table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Time</th>
                    <th>Average</th>
                </tr>
            </thead>
            <tbody>
                {% for runs in sorted_list_5k %}
                    <tr class="{{runs.is_latest}}">
                        <td>{{ loop.index }}</td>
                        <td>{{ runs.date }}</td>
                        <td>{{ runs.location }}</td>
                        <td>{{ runs.time }}</td>
                        <td>{{ runs.average_time_per_km }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br/><br/>
        <h6 class="center">Fastest 10ks</h6>
        <br/>
            <table class="table override_table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Time</th>
                        <th>Average</th>
                    </tr>
                </thead>
                <tbody>
                    {% for runs in sorted_list_10k %}
                        <tr class="{{runs.is_latest}}">
                            <td>{{ loop.index }}</td>
                            <td>{{ runs.date }}</td>
                            <td>{{ runs.location }}</td>
                            <td>{{ runs.time }}</td>
                            <td>{{ runs.average_time_per_km }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

<!--
    MATPLOT-LIB Graphs

    <br/><br/><br/>
    <h6 class="center">Runs by Year</h6>
    <div class = "center">
        <img src="data:image/png;base64,{{ runs_by_year }}">
    </div><br/>
    <h6 class="center">Average times by Year</h6>
    <div class = "center">
        <img src="data:image/png;base64,{{ mean_times_per_year }}">
    </div>
    <h6 class="center">Total distance by Year</h6>
    <div class = "center">
        <img src="data:image/png;base64,{{ total_distance_per_year }}">
    </div>
-->
{% endblock %}



