
{% extends 'base.html' %}

{% block distance %}Trips - New - My App{% endblock %}

{% block content %}
{% include 'base_trips.html' %}


    <br/>
    <br/>
    <form class="input_form" method="post" action="#">
        <div class="row mb-3">
            <label for="trip_name" class="col-sm-2 col-form-label">Trip Name:</label>
            <div class="col-sm-10">
                <input type="trip_name" id="trip_name" class="form-control" name="trip_name" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="date_start" class="col-sm-2 col-form-label">Date Start:</label>
            <div class="col-sm-10">
                <input type="text" id="date_start" name="date_start"  required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="date_end" class="col-sm-2 col-form-label">Date End:</label>
            <div class="col-sm-10">
                <input type="text" id="date_end" name="date_end"  required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="place" class="col-sm-2 col-form-label">Place:</label>
            <div class="col-sm-10">
                <input type="text" id="place" name="place"  required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="place_country" class="col-sm-2 col-form-label">Country:</label>
            <div class="col-sm-10">
                <input type="text" id="place_country" name="place_country"  required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="place_continent" class="col-sm-2 col-form-label">Continent:</label>
            <div class="col-sm-10">
                <input type="text" id="place_continent" name="place_continent"  required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="lat" class="col-sm-2 col-form-label">Latitude:</label>
            <div class="col-sm-10">
                <input type="text" id="lat" name="lat"  required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="lon" class="col-sm-2 col-form-label">Longitude:</label>
            <div class="col-sm-10">
                <input type="text" id="lon" name="lon"  required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>

    
    {% endblock %}